# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Leonidas\Desktop\CEID\7th Semester\Decision Theory\COVID-19-Epidemic-Analysis-ML-DLA\fetch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
