# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Leonidas\Desktop\CEID\7th Semester\Θεωρία Αποφάσεων\COVID-19-Epidemic-Analysis-ML-DLA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
